/* color: #FFC8C8; 444F5A ffd0d0 FF9999 */
.h1 {
  color: #FF9999;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
}
.h2 {
  margin: 0;
  color: #595d68;
  margin-bottom: 10px;
  font-size: 20px;
}
.text {
  width: calc(100% - 100px);
  overflow: hidden;
  float: left;
  line-height: 32px;
  color: #27292e;
  font-size: 25px;
}

.typed {
  color: #af8918; /* Цвет для уже набранных букв */
}

.current {
  color: #FFC8C8;  /* Цвет для следующей букв */
  background-color: #af8918;
  padding: 3px;
  border-radius: 3px;
}
.error {
  color: #ff0000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding-bottom: 10px;
  width: auto;
}
.input {
  position: absolute;
  left: 0;
  top: -10px;
  height: 1px;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  border: none;
  color: transparent;
  background-color: transparent;
  caret-color: transparent;
  outline: 0;
}
.container {
  position: relative;
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  margin: 0px auto 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block {
  background-color: #3E4149;
  border: 5px solid #525e6a;
  border-radius: 15px;
  position: relative;
  max-width: 780px;
  width: 100%;
  margin: 30px auto 0 auto;
}